name: Linters

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  inch:
    runs-on: ubuntu-latest
    name: Inch
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-linting-${{ hashFiles('Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-linting-
      - run: |
          gem install bundler
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3 --with="linting"
      - name: Lint
        run: |
          bundle exec inch
  rubocop:
    runs-on: ubuntu-latest
    name: Rubocop
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-linting-${{ hashFiles('Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-linting-
      - run: |
          gem install bundler
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3 --with="linting"
      - name: Lint
        run: |
          bundle exec rubocop
